body {
    background-color: azure;
    display: flex;
    justify-content: center;
}

.sidebar {
    background-color: slategrey;
    min-height: 90vh;
    margin: 2.5vh;
}

.title {
    font-size: xx-large;
    border-style: ridge;
    border-radius: 5px;
    background-color: slategrey;
    padding: .5em;
    font-weight: bold;
    color: white;
}

.wrapper {
    background-color: rgb(171, 5, 6);
    padding: 15px;
    border-style: outset;
    border-radius: 15px;
    margin: 2.5vh;
    display: flex;
}

.container {
    border: 3px black solid;
    display: flex;
}