body {
    background-color: rgb(25, 112, 112);
    display: flex;
    justify-content: center;
    align-items: center;
}

.outerWrap {
    display: flex;
    justify-content: center;
    align-items: center;
    flex: auto;
}

.sidebar {
    background-color: slategrey;
    margin: 2.5vh;
    border-style: ridge;
    border-radius: 10px;
    padding: 15px;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.title {
    font-size: xx-large;
    border-style: ridge;
    border-radius: 5px;
    background-color: slategrey;
    padding: .5em;
    font-weight: bold;
    color: white;
}

.wrapper {
    background-color: rgb(171, 5, 6);
    padding: 15px;
    border-style: ridge;
    border-radius: 15px;
    margin: 2.5vh;
    display: flex;
    align-items: stretch;
    justify-content: stretch;
    flex: 1;
    max-height: 90vh;
    max-width: 90vh;
}

#container {
    border: 3px black solid;
    display: flex;
    flex: 1 0 auto;
}

.controls {
    min-height: 25vh;
    display: flex;
    justify-content: center;
    align-items: center;
}

.square {
    margin: 0;
    flex: 1 1 auto;
    background-color: white;
    display: flex;
    height: auto;
}

.square:before {
    content: "";
    display: block;
    padding-top: 100%;
}

.box {
    margin: 0;
    padding: 0;
    display: flex;
    justify-content: space-around;
    flex-wrap: wrap;
    line-height: 30px;
    flex: 1;
}

.row {
    display: flex;
    flex-direction: column;
    flex: auto;
}

.active {
    background-color: black;
}

button {
    padding: 6px;
}